In [195]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

In [196]:


class webscraper:

    def __init__(self):
        self.team_data = { 'teams': []}
        self.player_date = { 'players': []}

    def handle_blockers(self, driver):
        try:
            accept = driver.find_element(By.ID, "onetrust-accept-btn-handler")
            accept.click()
        except:
            pass

        try:
            accept = driver.find_element(By.ID, "advertClose")
            accept.click()
        except:
            pass

    def append_teams_data(self, driver):
        body = driver.find_element(By.TAG_NAME, "tbody")
        rows = body.find_elements(By.CLASS_NAME, "league-table__expandable")
        for row in rows:
            td = row.find_element(By.TAG_NAME, "td")
            div = td.find_element(By.CLASS_NAME, "league-table__expandable-container")
            a = div.find_element(By.TAG_NAME, "a")
            span = a.find_element(By.CLASS_NAME, "league-table__team-name")
            team_name = span.get_attribute('innerHTML')
            self.team_data['teams'].append(
                {
                        'team_name': team_name,
                        'position': 1
                }
            )

    def scrape_website(self, url):

        # Initialize Selenium webdriver
        driver = webdriver.Chrome()
        
        try:
            # Load the webpage
            driver.get(url)
            
            self.handle_blockers(driver)
                
            time.sleep(5)
            
            self.append_teams_data(driver)

            return self.team_data
            
        
        except Exception as e:
            print("An error occurred:", str(e))
            print(Exception.__name__)
            # return None
        
        finally:
            # Close the browser window
            driver.quit()

In [197]:
url = 'https://www.premierleague.com/tables'
webscraper = webscraper()
teams = webscraper.scrape_website(url)

In [198]:
pd.DataFrame(teams['teams'])

                     team_name  position
0                    Liverpool         1
1                      Arsenal         1
2              Manchester City         1
3                  Aston Villa         1
4            Tottenham Hotspur         1
5            Manchester United         1
6   Brighton &amp; Hove Albion         1
7             Newcastle United         1
8              West Ham United         1
9                      Chelsea         1
10     Wolverhampton Wanderers         1
11                      Fulham         1
12                 Bournemouth         1
13                   Brentford         1
14              Crystal Palace         1
15           Nottingham Forest         1
16                     Everton         1
17                  Luton Town         1
18                     Burnley         1
19            Sheffield United         1